<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>628671258338-9bj7tkaftpal57nanfktbl0qt1fcjtk5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.628671258338-9bj7tkaftpal57nanfktbl0qt1fcjtk5</string>
	<key>API_KEY</key>
	<string>AIzaSyCGAkjsgeK7lH-EwtxOrGlg0rsX-leh6Fc</string>
	<key>GCM_SENDER_ID</key>
	<string>628671258338</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.music</string>
	<key>PROJECT_ID</key>
	<string>polished-time-252609</string>
	<key>STORAGE_BUCKET</key>
	<string>polished-time-252609.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:628671258338:ios:82cfd60492e56fcb2208bb</string>
	<key>DATABASE_URL</key>
	<string>https://polished-time-252609.firebaseio.com</string>
</dict>
</plist>